<div class="container py-5 mt-2 border border-primary rounded table-responsive">
  <div class="col-md-12">
    <h2>Thêm Sách</h2>
    <div>
      <div class="form-group">
        <label for="imagePreview">Xem trước ảnh:</label> <br>
        <img id="imagePreview" src="#" style="max-width: 400px; max-height: 400px;" />
      </div>
      <div class="form-group">
        <label for="image">Ảnh:</label>
        <input [(ngModel)]="image" type="file" class="form-control-file" id="image" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="tenSach">Tên sách:</label>
        <input [(ngModel)]="name" type="text" class="form-control" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class=" form-group">
        <label for="theLoai">Tác Giả:</label>
        <input [(ngModel)]="author" type="text" class="form-control" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class=" form-group">
        <label for="giaSach">Giá:</label>
        <input [(ngModel)]="price" type="number" class="form-control" min="0" step="0.01" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class="form-group">
        <label for="soLuong">Số lượng:</label>
        <input [(ngModel)]="quantity" type="number" class="form-control" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class="form-group">
        <label for="ngayXuatBan">Ngày xuất bản:</label>
        <input [(ngModel)]="publishedDate" type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"
          class="form-control" id="ngayXuatBan" name="ngayXuatBan" required>
          <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class="form-group">
        <label for="nhaXuatBan">Nhà xuất bản:</label>
        <input [(ngModel)]="publisher" type="text" class="form-control" id="nhaXuatBan" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <div class="form-group">
        <label for="theloai">Thể loại:</label>
        <input [(ngModel)]="bookType" type="text" class="form-control" id="theloai" required>
        <div class="error-message" *ngIf="validationError">{{ validationError }}</div>
      </div>
      <button class="btn btn-primary" (click)="addBook()">Thêm sách</button>
    </div>
  </div>
</div>