.book-name {
    size: 20px;
    text-decoration: none;
    color: black;
}

.image-thumbnail {
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.product-container {
    width: 150px;
    height: 200px;
    border-width: 2px;
    border-color: black;
    background-color: green;
}
