/* You can add global styles to this file, and also import other style files */
body { 
    background-image:  url('./assets/background.jpg');
    background-position:contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    font-family: 'Open Sans', sans-serif;
}