<div class="form-container">
    <div class="big-container" style="background-color: #ce7852">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5 rounded login-container">
                    <h2>Đăng nhập</h2>
                    <form id="login-form-input">
                        <div class="form-group">
                            <label for="username">Tên tài khoản</label>
                            <input type="text" class="form-control" id="username" placeholder="Tên tài khoản">
                            <small class="error-msg" id="username-error-msg"></small>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
                            <small class="error-msg" id="password-error-msg"></small>
                        </div>
                        <div class="text-right">
                            <em><a href="/api/v1/register" style="color: black">Đăng Ký</a></em>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" style="width: 100%">Đăng Nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>