<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav row">
            <ul class="navbar-nav col-10">
                <li class="nav-item">
                    <div  class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Member
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item" href="/api/v1/admin/them-sach">Add New</a>
                            <a class="dropdown-item" href="">List</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Books
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/admin/add-book"  href="">Add New</a>
                            <a class="dropdown-item" routerLink="/admin/book-list">List</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="">Add new</a>
    
                            <!--                        <a class="dropdown-item" href="../categories/listCategori.html">List</a>-->
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Book Issue
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="">Issue New</a>
                            <a class="dropdown-item" href="">List</a>
                        </div>
                    </div>
                </li>
            </ul>

            
        </div>

        <div class="">
            <div class="nav-item">
                <div class="dropdown" >
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                        style="margin-left: -150px;">
                        <a class="dropdown-item" routerLink="" href="">Thông tin các nhân</a>
                        <a class="dropdown-item" routerLink="/login">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
        
    </nav>

    
</div>
<router-outlet></router-outlet>