<!-- binding : from code to html -->
<h1 [title]="message + ' from UFO'">{{ message }}</h1>

<p>Don't worry... :v We're already here... How old are you?</p>

<!-- realtime update -->
<p><input title="Type your age..." type="number" [(ngModel)]="age" /></p>

<!-- *ngIf -->
<!-- <div>
    <p *ngIf="age <= 18">:D People says that kid meat is yummy~</p>
    <p *ngIf="age > 18">:D You are too old for the joke.</p>
</div> -->

<!-- ng-template : reduce line code run by break to 2 branches -->
<ng-template #empty>
    <div *ngIf="age == 0; else young"></div>
</ng-template>
<ng-template #young>
    <p>Ok~</p>
</ng-template>
<ng-template #old>
    <p>No. :D</p>
</ng-template>

<div *ngIf="age < 18; then empty; else old">
</div>

<!-- handle event click -->
<div><button (click)="reset()">Help me pls...</button></div>

<!-- *ngFor -->
<p *ngFor="let fruit of fruits; let i = index">{{i+1}}. {{fruit}}</p>

<!-- 2.3 exercise -->
<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Discounted</th>
        </tr>
        <tr *ngFor="let p of fruits_price; let i = index">
            <td>{{i+1}}</td>
            <td>{{p.name | uppercase}}</td>
            <td [ngClass]="{'negative': p.price < 0}">{{ p.price | currency : 'USD' : 'symbol' : '4.2-2'}}</td>
            <td>{{p.discount | onSale}}</td>
        </tr>
    </tbody>
</table>

<!-- 2.5 exercise -->
<div>
    <p>Tỉnh/Thành phố:</p>
    <select (change)="changeCity($event)">
        <option *ngFor="let data of cities_map" value="{{data.city}}">
            {{data.city}}
        </option>
    </select>
    <br>
    <p>Quận/Huyện:</p>
    <select>
        <option *ngFor="let data of districts" value="{{districts}}">
            {{data}}
        </option>
    </select>
</div>