<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
    <div class="footer-static-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__widget footer__menu">
                        <div class="ft__logo">
                            <a>
                                <img src="https://res.cloudinary.com/ddmdpbsoc/image/upload/v1704958585/logo_xqr4kh.png" alt="logo">
                            </a>
                            <p>Thư viện chúng tôi tự hào giới thiệu đến bạn một bộ sưu tập đa dạng các loại sách, từ tiểu thuyết, sách kỹ năng sống, sách khoa học đến sách nấu ăn và nhiều thể loại khác. Với hàng ngàn tác phẩm từ các tác giả nổi tiếng, chúng tôi cam kết mang đến cho bạn những trải nghiệm đọc sách tuyệt vời và khám phá vô tận qua những trang sách tại thư viện của chúng tôi.</p>
                        </div>
                        <div class="footer__content">
                            <ul class="social__net social__net--2 d-flex justify-content-center">
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-google"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright">
                        <div class="copy__right__inner text-start">
                            <p>&copy; 2023. Made with <i class="fa fa-heart text-danger"></i> by <a
                                    href="" target="_blank">Huynn và Ninhnh</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="payment text-end">
                        <img src="/images/icons/payment.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>