body {
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {  
    width: 450px;
    position: relative; 
    margin: 20px auto;
}

.GAME_2048 {
    font-size: 40px;
    background-color: #f3ec78;
    background-image: linear-gradient(to right, crimson, lightsalmon, gold,   seagreen,  violet);
    background-clip: text;  
    -webkit-text-fill-color: transparent; 
}

.ping { 
    margin-left: 1px; 
    position: absolute;
    top: 15px;
    right: 10px;
    color: yellow; 
    font-size: 20px; 
}

.score { 
    margin-left: 3px;
    width: 70px;
    border: solid white 2px;
    position: absolute;
    top: 8px;
    right: 10px;
    color: white; 
    font-size: 20px;  
}

.box { 
    width: 450px;
    height: 450px;
    margin: auto;
    background-color: black;
    border: solid black 5px;
    font-family: Arial, Helvetica, sans-serif;
} 

.tile {
    width: 25%;
    height: 25%;
    border: solid black 5px;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: black
}

.tile2 {
    background-color: magenta
}

.tile4 {
    background-color: skyblue
}

.tile8 {
    background-color: red
}

.tile16 {
    background-color: green
}

.tile32 {
    background-color: yellow
}

.tile64 {
    background-color: blueviolet
}

.tile128 {
    background-color: blue
}

.tile256 {
    background-color: orangered
}

.tile512 {
    background-color: orange
}

.tile1024 {
    background-color: purple
}

.tile2048 {
    background-color: royalblue
}

.hidden {
    opacity: 0;
}

/* transition */

.move {
    position: relative;
    transition: transform 0.1s ease-in-out opacity 0.1s ease-in-out;
}

.move.up {
    transform: translateY(-100px); 
    opacity: 0;
}

.move.down {
    transform: translateY(100px); 
    opacity: 0;
}

.move.right {
    transform: translateX(100px); 
    opacity: 0;
}

.move.left {
    transform: translateX(-100px); 
    opacity: 0;
}

.popup { 
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
}

.ping-then-fade { 
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    opacity: 1;
}


