<div class="" *ngIf="listOfAllBookLimitedLength" class="row">
    <div class="product product__style--3 col-3" *ngFor="let item of listOfAllBookLimitedLength">
        <div class="product__thumb ">
            <a class="first__img">
                <img class="image-thumbnail"
                    src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="product image" style="width: 249px; height: 313.55px">
            </a>
        </div>
        <div class="product__content content--center">
            <h4 class="book-name"><a style="cursor: pointer; color: black" class="book-name"
                    (click)="navigateToBookDetail(item.id)">{{ item.name |truncate: 18}}</a></h4>
            <ul class="price d-flex">
                <li>{{ item.price | currency:'VND':'symbol':'1.0-0'}}</li>
            </ul>
        </div>
    </div>
</div>