<div class="container" [style.margin-top.px]="50">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">{{ title }}</h3>
              </div>
              <div class="panel-body">
                  <ng-container *ngIf="isShowing">
                      <!-- sau khi nhận được kết quả từ total thì mình sẽ truyền nó sang app-lifecycle-hook -->
                      <app-lifecycle-hook [total]="total"></app-lifecycle-hook>
                  </ng-container>
                  Số thứ nhất : <input type="number" class="form-control" [(ngModel)]="num1">
                  Số thứ hai : <input type="number" class="form-control" [(ngModel)]="num2">
                  <button type="button" class="btn btn-primary" (click)="totalNumber()">Tính tổng</button>
              </div>
          </div>
      </div>
  </div>
</div>

